<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CombinedSuite">

	<!-- Gokul TestCase -->

	<test thread-count="5" name="Test">
		<classes>
			<class name="sprint6_Gokul.CustomerServiceOptions33" />
		</classes>
	</test>
	<!-- Test1 -->

	<!-- Gokul TestCase -->


	<!-- Rajesh TestCase -->
	<!-- browser chrome edge firefox mode: true= remote false=normal -->
	<test thread-count="5" name="sprint6_Rajesh">
		<parameter name="mode" value="true" />
		<parameter name="browser" value="edge" />
		<parameter name="userName" value="gokul.sekar@testleaf.com" />
		<parameter name="password" value="Leaf@123" />
		<classes>
			<class name="sprint6_Test_Rajesh.S6_054_Add_Product" />
		</classes>
	</test> <!-- Test2 -->

	<!-- Rajesh TestCase -->

	<!-- Test3 -->
	<!-- Logeshwari TestCase -->
	<!-- browser chrome edge firefox mode: true: remote false: normal -->

	<!-- <test thread-count="5" name="Test"> <classes> <class name="sprint6_Logeshwari.S6_9_Work_Type_Group_SortByName" 
		/> </classes> </test> -->

	<!-- Logeshwari TestCase -->
	
	<!-- Devi TestCase -->

     <test thread-count="5" name="DeviTest">
        <classes>
           <class name="sprint6_Devi.s6_26_Verify_Legal_Entities"/>
        </classes>
     </test> <!-- Test -->
     
     <!-- Devi TestCase -->
     
</suite> <!-- CombinedSuite -->
